@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

body {
  margin: 0;
  font-family: "RocknRoll One", sans-serif, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: rgb(4, 120, 88);
  background: linear-gradient(45deg, rgba(4, 120, 88, 1) 0%, rgba(3, 186, 144, 1) 54%, rgba(2, 246, 100, 1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
